<h2 class="content-subhead"><%= @user.capitalize %></h2>

<h3>Email address: <%= @users[@user][:email] %></h3>
<h3>Interests:</h3>
  <p>
    <%= @interests.join(', ') %>
  </p>
  </ul>

<footer id="footer">
  <div>
    <% current_user = @user %>
    <ul>
      <% @users.each do |user| %>
        <% next if current_user == user[0] %>
        <li><a href="/user/<%=user[0].capitalize%>"><%= user[0].capitalize %></a></li>
      <% end %>
    </ul>
  </div>
</footer>